.app{
  background-color: #dadbd3;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  margin-top: -30spx;
  width: 90vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}